{% extends "_layouts/base.html" %}

{% block title %}Grafo{% endblock %}

{% block scripts %}
	<script src="{{ STATIC_URL }}js/dependencies/jquery.jsPlumb-1.6.2.js"></script>

    <script>
        var conceptos = JSON.parse("{{ concepto_list|escapejs }}");

        $.each(conceptos, function(idx, obj) {
            obj.fields.imagen = "{{ MEDIA_URL }}" + obj.fields.imagen;
        });
    </script>

	<script src="{{ STATIC_URL }}js/graph.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="large-12 columns">
        <div id="encabezado">
            <img class="icon" alt="grafo" src="{{ STATIC_URL }}img/icons/grafo.png" />
            <h1>Grafo de conocimiento</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
	    <div class="grafo">
            <div class="acciones">
                <a class="small success button guardarGrafo">Guardar</a>
                <a class="small button agregarConcepto">Agregar concepto</a>

                <div class="clear"></div>
            </div>
            <div class="canvas">
                <div id="conceptos"></div>
            </div>
            <div class="btnCanvas">
                <div class="zoom"><span>100 %</span></div>
                <a class="small button zoomIn"></a>
                <a class="small button zoomOut"></a>

                <div class="clear"></div>
            </div>
	    </div>
      </div>
    </div>
{% endblock %}