{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% block title %}Entrar{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block extraContent %}
    <div class="loginForm">
        <div class="row">
            <div class="large-12 columns text-center">
                <img alt="logo" class="logo" src="{% static "img/logo.png" %}" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="large-12 columns">
                {% if form.errors %}
                    <p class="error">Usuario o contraseña incorrecta. Intenta de nuevo.</p>
                {% endif %}

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="large-12 columns">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                    </div>

                    <input class="button small right" type="submit" value="Iniciar sesión" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}