{% extends "_layouts/base.html" %}

{% block title %}Entrar{% endblock %}

{% block content %}
    <div class="loginForm">
    <div class="row">
        <div class="large-5 medium-5 columns">
            {% if form.errors %}
            <p>Usuario o contraseña incorrecta. Intenta de nuevo.</p>
            {% endif %}

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}

                <div class="row">
                    <div class="large-10 medium-10 columns">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-10 medium-10 columns">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div>

                <input class="small button" type="submit" value="Iniciar sesión" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}