{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% block title %}Permisos insuficientes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endblock %}

{% block header %}
    <div class="encabezado">
        <img class="icon" alt="permisos" src="{% static "img/icons/permisos.png" %}" />
        <h1>Permisos insuficientes</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="title">
        <h2 class="alerta">Atención</h2>
        <p>No tiene los permisos suficientes para acceder a esta página</p>

        <a class="button small atras botonAmplio" href="/">Regresar</a>
    </div>
{% endblock %}