{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Grafos{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static "js/grafosUnion.js" %}"></script>
{% endblock %}

{% block preheader %}
    {% include "Aprendeci/profesor/topbar.html" with active_tab="grafos" %}
{% endblock %}

{% block header %}
    <div class="encabezado">
        <img class="icon" alt="grafo" src="{% static "img/icons/grafo.png" %}" />
        <h1>Grafos</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Grafos" "Aprendeci:grafos" %}
{% endblock %}

{% block content %}
    {% for grafo in grafo_list %}
        {# Crear una fila cada 3 elementos #}
        {% if forloop.counter0|divisibleby:"3" %}
            {% if forloop.counter0 > 0 %}
                </div>
            {% endif %}
            <div class="row">
        {% endif %}

        {# Crear contenido de un grafo #}
        <div class="small-4 columns">
            <div class="grafoItem">
                <div class="header">
                    <p class="nombre">{{ grafo.nombre }}</p>
                    <input class="grafoCheck" type="checkbox" name="grafo" id="checked{{ grafo.id }}" value="{{ grafo.id }}" /><label for="checked{{ grafo.id }}"><span></span></label>
                </div>
                <div class="conceptos"><span># Conceptos: </span>{{ grafo.numero_de_conceptos }}</div>
                <div class="botones">
                    {% if grafo.grafo_set.all.count == 0 %}
                        <a href="{% url "Aprendeci:grafo" grafo.id %}" class="button small modificar">Modificar</a>
                        <a href="{% url "Aprendeci:conceptos" grafo.id %}" class="button small ver">Ver conceptos</a>
                    {% else %}
                        <a href="{% url "Aprendeci:unirgrafos" %}?grafo1={{ grafo.grafo_set.all.0.id }}&grafo2={{ grafo.grafo_set.all.1.id }}" class="button small modificar">Modificar</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {# Crear el item de agregar nuevo grafo #}
        {% if forloop.last %}
            {% if forloop.counter|divisibleby:"3" %}
                </div>
                <div class="row">
                    <div class="small-4 columns">
                        <div class="grafoItem">
                            <a href="{% url "admin:Aprendeci_grafo_add" %}" class="button small agregar">Agregar</a>
                            <a href="{% url "Aprendeci:unirgrafos" %}" class="button small unir">Unir</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="small-4 columns end">
                    <div class="grafoItem">
                        <a href="{% url "admin:Aprendeci_grafo_add" %}" class="button small agregar">Agregar</a>
                        <a href="{% url "Aprendeci:unirgrafos" %}" class="button small unir">Unir</a>
                    </div>
                </div>
                </div>
            {% endif %}
        {% endif %}
    {% empty %}
        <div class="row">
            <div class="small-4 columns">
                <div class="grafoItem">
                    <a href="{% url "admin:Aprendeci_grafo_add" %}" class="button small agregar">Agregar</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}