{% extends "Aprendeci/profesor/grafo/grafos.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Unir grafos{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block scripts %}
    <script src="{% static "js/dependencies/jquery.jsPlumb-1.6.2.js" %}"></script>

    <script>
        var conceptos = JSON.parse("{{ conexiones|escapejs }}");
    </script>

    <script src="{% static "js/unirGrafos.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Union" "" %}
{% endblock %}

{% block content %}
    {% if grafo_list %}
        <div class="title clearfix">
            <img alt="Informacion" src="{% static "img/icons/info.png" %}" />
            <p>Arrastra el cursor desde un concepto de un grafo al otro para hacer una unión entre los grafos</p>
        </div>

        <div id="unionGrafos" class="unionGrafos">
            <div class="row">
                {% for grafo in grafo_list %}
                    <div class="small-6 columns">
                        <div id="contenedorGrafo{{ grafo.id }}" class="contenedorGrafo {% cycle 'izq' 'der' %}">
                            <div class="nombre">
                                <h3>{{ grafo.nombre }}</h3>
                            </div>
                            <div class="contenido">
                                {% for concepto in grafo.concepto_set.all %}
                                    <div class="concepto">
                                        <div id="conector{{ concepto.id }}" class="conector"></div>
                                        {{ concepto.nombre }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <div class="acciones">
                        <div class="row">
                            {% if not modificacion %}
                                <div class="small-9 columns">
                                    <input id="nombreGrafo" type="text" placeholder="Nombre del grafo" />
                                </div>
                                <div class="small-3 columns">
                                    <a class="small button unir">Unir</a>
                                </div>
                            {% else %}
                                <div class="small-12 columns">
                                    <a class="small button guardar">Guardar</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="small-12 columns">
            <div class="title">
                <h3>No hay grafos para unir</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}