{% extends "Aprendeci/estudiante/perfil.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load youtube_embed_url %}

{% block title %}Concepto{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endblock %}

{% block preheader %}
    {% include "Aprendeci/estudiante/topbar.html" %}
{% endblock %}

{% block header %}
    <div class="encabezado">
        <img class="icon" alt="grafo" src="{% static "img/icons/grafo.png" %}" />
        <h1>Concepto</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Concepto" "" %}
{% endblock %}

{% block content %}
    <div class="title">
        <h2>{{ concepto.nombre }}</h2>
    </div>
    <div class="descripcionConcepto">
        <div class="row">
            <div class="small-3 columns">
                <div class="lateral">
                    <div class="header">
                        <div class="concepto">
                            <img alt="{{ concepto.nombre }}" src="{{ MEDIA_URL }}{{ concepto.imagen }}" />
                        </div>
                    </div>
                    {% if request.user.is_staff %}
                        <div class="acciones">
                            <a href="{% url 'admin:Aprendeci_concepto_change' concepto.id %}" class="small button modificar">Modificar</a>
                            <a href="{% url 'admin:Aprendeci_recurso_add' %}" class="small button agregar">Agregar recurso</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="small-9 columns">
                <div class="contenido">
                    <h3>Descripcion</h3>
                    <p>{{ concepto.descripcion }}</p>

                    <h3>Requisitos</h3>
                    <ul>
                        {% for requisito in concepto.requisitos.all %}
                            <li>{{ requisito.nombre }}</li>
                        {% empty %}
                            <li>No tiene requisitos</li>
                        {% endfor %}
                    </ul>

                    <h3>Grafo</h3>
                    <p>{{ concepto.grafo.nombre }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="recursosConcepto">
        <div class="row">
            <div class="small-12 columns">
                <div class="header">
                    <img class="icon" alt="grafo" src="{% static "img/icons/enlaces.png" %}" />
                    <h2>Recursos</h2>
                </div>
                <div class="contenido">
                    {% for recurso in concepto.recurso_set.all %}
                        {# Crear una fila cada 3 elementos #}
                        {% if forloop.counter0|divisibleby:"3" %}
                            {% if forloop.counter0 > 0 %}
                                </div>
                            {% endif %}
                            <div class="row">
                        {% endif %}

                    {# Crear contenido de un recurso #}
                    <div class="small-4 columns">
                        <div class="recursoItem">
                            <div class="nombre">{{ recurso.nombre }}</div>
                            <hr />
                            {% if recurso.tipo == 'V' %}
                                <div class="enlace">{{ recurso.direccion|youtube_embed_url|safe }}</div>
                            {% else %}
                                <div class="descripcion">{{ recurso.descripcion }}</div>
                                <div class="enlace"><a href="{{ recurso.direccion }}" class="small button ver">Ir</a></div>
                            {% endif %}
                        </div>
                    </div>

                    {# Cierra la fila para el ultimo item #}
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                    {% empty %}
                        <h4>No hay recursos para este concepto</h4>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}