{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Perfil del estudiante{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endblock %}

{% block preheader %}
    {% include "Aprendeci/estudiante/topbar.html" with active_tab="miPerfil" %}
{% endblock %}

{% block header %}
    <div class="encabezado">
        <img class="icon" alt="grafo" src="{% static "img/icons/perfil.png" %}" />
        <h1>Perfil del estudiante</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Perfil" "Aprendeci:perfilEstudiante" %}
{% endblock %}

{% block content %}
    <div class="perfil">
        <div class="infoPerfil">
            <div class="row">
                <div class="small-5 columns">
                    <h4>@{{ user.username }}</h4>
                    <br />
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="small-5 columns">
                    <h4>Fecha de la última conexión: </h4>
                    <br />
                    <p>{{ user.last_login }}</p>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="small button modificar">Modificar</a>
                </div>
            </div>
        </div>
        <div class="acciones">
            <div class="row">
                <div class="small-4 columns">
                    <div class="componente">
                        <div class="containerImg">
                            <img alt="cursos" src="{% static 'img/menu/Cursos.jpg' %}" />
                        </div>
                        <h4>Cursos</h4>
                        <a href="{%  url 'Aprendeci:listaCursos' %}" class="small button ver">Ir</a>
                    </div>
                </div>

                <div class="small-4 columns">
                    <div class="componente">
                        <div class="containerImg">
                            <img alt="idea" src="{% static 'img/menu/Sugerencias.jpg' %}" />
                        </div>
                        <h4>Sugerencias</h4>
                        <a href="#" class="small button ver">Ir</a>
                    </div>
                </div>

                <div class="small-4 columns">
                    <div class="componente">
                        <div class="containerImg">
                            <img alt="progress" src="{% static 'img/menu/Progreso.jpg' %}" />
                        </div>
                        <h4>Mi progreso</h4>
                        <a href="#" class="small button ver">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="misCursos">
            <div class="subtitle">
                <h3>Mis cursos</h3>
            </div>
            <table>
                <tbody>
                {% for curso in curso_list %}
                    <tr>
                        <td class="principal">
                            <h4>{{ curso.nombre }}</h4>
                        </td>
                        <td class="acciones">
                            <a href="{% url 'Aprendeci:cursoEstudiante' curso.id %}" class="button small ver">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}