{% load staticfiles %}

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <a href="#"><img class="logo" alt="Aprendeci" src="{% static 'img/miniLogo.png' %}" /></a>
        </li>

        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li {% if active_tab == 'miGrafo' %}class="active"{% endif %}><a href="{% url 'Aprendeci:grafoEstudiante' %}">Mi grafo</a></li>
        </ul>

        <ul class="right">
            <li {% if active_tab == 'miPerfil' %}class="active"{% endif %}><a href="{% url 'Aprendeci:perfilEstudiante' %}">Mi perfil</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </section>
</nav>