/* ================================
    CSS Aprendeci | Principal
   ================================ */

/* SECCION | Generales */
html, body {
    height: 100%;
}

body {
    background-image: url("../img/bg.png");
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

    h1, h4 {
        color: #FFF;
    }

img {
    display: inline-block;
    vertical-align: middle;
}

.centrar {
    text-align: center;
}

/* SECCION | Contenedores */
#wrapper {
    min-height: 100%;
}

    #wrapper #container {
        overflow: auto;
        padding-bottom: 140px;
    }

#footer {
    margin-top: -137px;
    position: relative;
}

    #footer .footerContent {
        background: #A22F38 url("../img/maze.png");
        clear: both;
        margin-top: 20px;
        padding: 10px;
    }

    #footer .footerContent .logo {
        width: 200px;
    }

.encabezado {
    background: #A22F38 url("../img/mazeRed.png");
    padding: 10px;
}

.title {
    background-image: url("../img/mazeGray.png");
    box-shadow: 0 8px 5px -7px #000;
    margin-bottom: 1.25rem;
    padding: 5px 20px;
}

/* SECCION | Breadcrumbs */
ul.breadcrumbs {
    background-image: url("../img/mazeGray.png");
    border: 0;
    border-radius: 0;
    box-shadow: 0 8px 5px -7px #000;
}

/* SECCION | Botones */
.button.small {
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 0;
    padding-left: 45px;
}

.modificar {
    background-image: url("../img/icons/edit.png");
}

.ver {
    background-image: url("../img/icons/eye.png");
}

/* SECCION | Edicion del grafo */
.grafo {
    background-image: url("../img/maze.png");
    margin: 10px auto;
    padding: 10px;
}

    .grafo .canvas {
        background-image: url("../img/grid.png");
        height: 500px;
    }

        .grafo .canvas #conceptos {
            height: 100%;
            position: relative;
        }

            .grafo .canvas #conceptos .concepto {
                background-color: #A22F38;
                border: 3px solid white;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
                box-sizing: content-box;
                cursor: move;
                height: 50px;
                position: absolute;
                width: 50px;
            }

            .grafo .canvas #conceptos .concepto:hover {
                background-color: #278f44;
            }

    .grafo .opciones {
        width: 100%;
    }

        .grafo .opciones .modo input[type="radio"] {
            display:none;
        }

        .grafo .opciones .modo input[type="radio"] + label {
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 20px;
            margin: 0;
            width: 150px;
        }

            .grafo .opciones .modo input[type="radio"]#mover + label {
                background-image: url("../img/icons/move.png");
            }

            .grafo .opciones .modo input[type="radio"]#unir + label {
                background-image: url("../img/icons/arrow.png");
            }

            .grafo .opciones .modo input[type="radio"]:checked + label {
                background-color: #A22F38;
                font-weight: bold;
            }

        .grafo .acciones a {
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 20px;
            margin-bottom: 0;
            padding-left: 40px;
        }

            .grafo .acciones a.agregarConcepto {
                background-image: url("../img/icons/add.png");
            }

            .grafo .acciones a.guardarGrafo {
                background-image: url("../img/icons/save.png");
            }

    .grafo .btnCanvas {
        clear: both;
        width: 100%;
    }

        .grafo .btnCanvas a {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            float: right;
            height: 50px;
            margin-bottom: 0;
        }

            .grafo .btnCanvas a.zoomIn {
                background-image: url("../img/icons/zoomIn.png");
            }

            .grafo .btnCanvas a.zoomOut {
                background-image: url("../img/icons/zoomOut.png");
            }

        .grafo .btnCanvas .zoom {
            background-color: #008CBA;
            color: white;
            display: inline-block;
            float: left;
            height: 50px;
            line-height: 50px;
            margin: 0;
            text-align: center;
            width: 100px;
        }

            .grafo .btnCanvas .zoom span {
                display: inline-block;
                line-height: normal;
                vertical-align: middle;
            }

._jsPlumb_connector {
    cursor: pointer;
}

/* SECCION | Lista de grafos */
.grafoItem {
    background: #A22F38 url("../img/mazeRed.png");
    box-shadow: 0 8px 5px -7px #000;
    margin: 0 0 20px;
    text-align: center;
}

    .grafoItem .nombre {
        background: #FFF url("../img/mazeGray.png");
        box-shadow: 0 8px 5px -7px #000;
        font-weight: bold;
        padding: 10px 0;
    }

    .grafoItem .conceptos {
        color: #FFF;
        margin: 20px 0;
    }

        .grafoItem .conceptos span {
            font-weight: bold;
        }

    .grafoItem .button {
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: 20px;
        margin: 0;
        width: 100%;
    }

    .grafoItem .agregar {
        background-image: url("../img/icons/add.png");
        margin-bottom: 20px;
        margin-top: 20px;
    }

/* SECCION | Lista de conceptos */
.tablaConceptos {
    background-color: #A22F38;
    border: 0;
    box-shadow: 0 8px 5px -7px #000;
    width: 100%;
}

    .tablaConceptos tr td {
        color: #FFF;
    }

        .tablaConceptos tr td.concepto {
            width: 80%;
        }

        .tablaConceptos tr td.acciones {
            text-align: center;
            width: 20%;
        }

    .tablaConceptos tr:nth-of-type(2n) {
        background: rgba(0, 0, 0, 0.3);
    }

/* SECCION | Detalle de un concepto */
.descripcionConcepto {
    height: 350px;
    margin-bottom: 1.25rem;
}

    .descripcionConcepto .lateral {
        background: #A22F38 url("../img/maze.png");
        box-shadow: 0 8px 5px -7px #000;
        height: 350px;
    }

        .descripcionConcepto .lateral .header {
            background: #A22F38 url("../img/mazeRed.png");
            height: 100px;
            padding-top: 70px;
        }

            .descripcionConcepto .lateral .header .concepto {
                background-color: #A22F38;
                border: 3px solid white;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
                box-sizing: content-box;
                height: 50px;
                margin: 0 auto;
                width: 50px;
            }

        .descripcionConcepto .lateral .acciones {
            margin-top: 60px;
        }

            .descripcionConcepto .lateral .acciones a {
                margin: 10px 0;
                width: 100%;
            }

    .descripcionConcepto .contenido {
        background: #A22F38 url("../img/mazeRed.png");
        box-shadow: 0 8px 5px -7px #000;
        color: #FFF;
        height: 350px;
        padding: 20px;
    }

        .descripcionConcepto .contenido h3 {
            color: #FFF;
        }

.recursosConcepto {
    background: #A22F38 url("../img/mazeRed.png");
    box-shadow: 0 8px 5px -7px #000;
}

    .recursosConcepto .header {
        background: #A22F38 url("../img/mazeGray.png");
        padding: 5px 20px;
    }

    .recursosConcepto .contenido {
        padding: 20px;
    }

        .recursosConcepto .contenido .recursoItem {
            background: #A22F38 url("../img/mazeGray.png");
            box-shadow: 0 8px 5px -7px #000;
            height: 150px;
            margin: 0 0 20px;
            padding: 10px;
            position: relative;
            text-align: center;
        }

            .recursosConcepto .contenido .recursoItem hr {
                border-color: #999;
                margin: 10px 0 20px;
            }

            .recursosConcepto .contenido .recursoItem .nombre {
                font-weight: bold;
            }

            .recursosConcepto .contenido .recursoItem .enlace {
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;
            }

                .recursosConcepto .contenido .recursoItem .enlace a {
                    width: 100%;
                }