/* ================================
    CSS Aprendeci | Principal
   ================================ */

/* SECCION | Generales */
* {
    box-sizing: content-box;
}

body {
    background-image: url("../img/bg.png");
    padding: 0;
    margin: 0;
}

h1 {
    color: #FFF;
    display: inline-block;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: normal;
    text-shadow: 1px 1px 1px #959595;
    vertical-align: middle;
}

img {
    display: inline-block;
    vertical-align: middle;
}

/* SECCION | Contenedores */
.content {
    background-color: white;
    margin: 10px auto;
    padding: 20px;
}

/* SECCION | Edicion del grafo */
#encabezado {
    background-color: #A22F38;
    padding: 10px;
}

.grafo {
    background-image: url("../img/maze.png");
    margin: 10px auto;
    padding: 10px;
}

    .grafo .canvas {
        background-image: url("../img/grid.png");
        height: 500px;
    }

        .grafo .canvas #conceptos {
            height: 100%;
            position: relative;
        }

    .grafo .opciones {
        width: 100%;
    }

        .grafo .opciones .modo input[type="radio"] {
            display:none;
        }

        .grafo .opciones .modo input[type="radio"] + label {
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 20px;
            margin: 0;
            width: 100px;
        }

            .grafo .opciones .modo input[type="radio"]#mover + label {
                background-image: url("../img/icons/move.png");
            }

            .grafo .opciones .modo input[type="radio"]#unir + label {
                background-image: url("../img/icons/arrow.png");
            }

            .grafo .opciones .modo input[type="radio"]:checked + label {
                background-color: #A22F38;
                font-weight: bold;
            }

        .grafo .acciones a {
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 20px;
            margin-bottom: 0px;
            padding-left: 40px;
        }

            .grafo .acciones a.agregarConcepto {
                background-image: url("../img/icons/add.png");
            }

            .grafo .acciones a.guardarGrafo {
                background-image: url("../img/icons/save.png");
            }

    .grafo .btnCanvas {
        clear: both;
        width: 100%;
    }

        .grafo .btnCanvas a {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            float: right;
            height: 20px;
            margin-bottom: 0px;
        }

            .grafo .btnCanvas a.zoomIn {
                background-image: url("../img/icons/zoomIn.png");
            }

            .grafo .btnCanvas a.zoomOut {
                background-image: url("../img/icons/zoomOut.png");
            }

        .grafo .btnCanvas .zoom {
            background-color: #008CBA;
            color: white;
            display: inline-block;
            float: left;
            height: 50px;
            line-height: 50px;
            margin: 0px;
            text-align: center;
            width: 100px;
        }

            .grafo .btnCanvas .zoom span {
                display: inline-block;
                line-height: normal;
                vertical-align: middle;
            }

.concepto {
    background-color: #A22F38;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: move;
    height: 50px;
    position: absolute;
    width: 50px;
}

.concepto:hover {
    background-color: #278f44;
}

._jsPlumb_connector {
    cursor: pointer;
}

/* SECCION | Lista de grafos */
.grafos {
    border: 2px dashed gray;
    padding: 20px;
}

    .grafos .grafoItem {
        background-color: #A22F38;
        display: inline-block;
        height: 150px;
        margin: 0px ;
        text-align: center;
        width: 150px;
    }