/* ================================
    CSS Aprendeci | Principal
   ================================ */

/* SECCION | Generales */
html, body {
    height: 100%;
}

body {
    background-image: url("../img/bg.png");
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

img {
    display: inline-block;
    vertical-align: middle;
}

p {
    display: inline;
}

.centrar {
    text-align: center;
}

/* SECCION | Contenedores */
#wrapper {
    min-height: 100%;
}

    #wrapper #container {
        overflow: auto;
        padding-bottom: 140px;
    }

#footer {
    margin-top: -137px;
    position: relative;
}

    #footer .footerContent {
        background: #A22F38 url("../img/maze.png");
        clear: both;
        margin-top: 20px;
        padding: 10px;
    }

    #footer .footerContent .logo {
        width: 200px;
    }

.encabezado {
    background: #A22F38 url("../img/mazeRed.png");
    padding: 10px;
}

    .encabezado h1 {
        color: #FFF;
    }

.title {
    background: #D4D4D4 url("../img/mazeGray.png");
    box-shadow: 0 8px 5px -7px #000;
    margin-bottom: 1.25rem;
    padding: 5px 20px;
}

    .title img {
        margin-right: 10px;
    }

    .title p {
        font-size: 1.1rem;
        margin: 0;
    }

.subtitle {
    background: #D4D4D4 url("../img/mazeGray.png");
    padding: 5px 20px;
}

/* SECCION | TopBar */
nav.top-bar {
    background: #A22F38 url("../img/maze.png");
    box-shadow: 0 8px 5px -7px #000;
    margin-bottom: 10px;
}

    nav.top-bar ul.title-area {
        background: #A22F38 url("../img/maze.png") !important;
    }

    nav.top-bar section.top-bar-section ul li a {
        background: #A22F38 url("../img/maze.png") !important;
    }

        nav.top-bar section.top-bar-section ul li a:hover {
            background: #D4D4D4 url("../img/mazeGray.png") !important;
            color: #000;
        }

        nav.top-bar section.top-bar-section ul li.active a {
            background: #A22F38 url("../img/mazeRed.png") !important;
        }

    nav.top-bar ul.title-area li.name img.logo {
        margin: 10px;
        width: 20px;
    }

/* SECCION | Breadcrumbs */
ul.breadcrumbs {
    background: #D4D4D4 url("../img/mazeGray.png");
    border: 0;
    border-radius: 0;
    box-shadow: 0 8px 5px -7px #000;
}

/* SECCION | Botones */
.button.small {
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 0;
    padding-left: 45px;
}

.button.small.inactivo {
    background-color: #808080;
    cursor: not-allowed;
}

.agregar {
    background-image: url("../img/icons/add.png");
}

.modificar {
    background-image: url("../img/icons/edit.png");
}

.unir {
    background-image: url("../img/icons/union.png");
}

.ver {
    background-image: url("../img/icons/eye.png");
}

.guardar {
    background-image: url("../img/icons/save.png");
}

.conectar {
    background-image: url("../img/icons/share.png");
}

.context-menu-item.icon-concepto {
    background-image: url("../img/icons/conceptoMini.png");
}

.context-menu-item.icon-grafo {
    background-image: url("../img/icons/grafoMini.png");
}

/* SECCION | Tablas */
table {
    background-color: #A22F38;
    border: 0;
    box-shadow: 0 8px 5px -7px #000;
    empty-cells: hide;
    width: 100%;
}

    table thead, table tfoot {
        background-color: rgba(0, 0, 0, 0.7);
    }

    table tr td, table tr th h4, table tr td.principal h4 {
        color: #FFF;
    }

        table tr td.principal {
            width: 80%;
        }

        table tr td.acciones {
            text-align: center;
            width: 20%;
        }

            table tr td.acciones input {
                margin: 0;
            }

    table tr:nth-of-type(2n) {
        background: rgba(0, 0, 0, 0.3);
    }

    table tfoot a {
        width: 100%;
    }

/* SECCION | Dialogos */
.ui-dialog a {
    color: #FFFFFF !important;
    margin-top: 10px !important;
    width: 100%;
}

.ui-dialog p {
    line-height: 1;
}

/* SECCION | Perfil */
.perfil .infoPerfil {
    background: #D4D4D4 url("../img/mazeGray.png");
    box-shadow: 0 8px 5px -7px #000;
    margin-bottom: 1.25rem;
    padding: 10px 20px;
}

    .perfil .infoPerfil a.button.small {
        margin-top: 5px;
    }

.perfil .acciones .componente {
    background: #A22F38 url("../img/mazeRed.png");
    box-shadow: 0 8px 5px -7px #000;
    margin: 0 0 20px;
    text-align: center;
}

    .perfil .acciones .componente .containerImg {
        overflow: hidden;
    }

        .perfil .acciones .componente .containerImg img {
            display: block;
            height: auto !important;
            max-width: 100%;
        }

    .perfil .acciones .componente h4 {
        color: #FFF;
    }

    .perfil .acciones .componente a {
        width: 100%;
    }

/* SECCION | Edicion del grafo */
.grafo {
    background-image: url("../img/maze.png");
    margin: 10px auto;
    padding: 10px;
}

    .grafo .canvas {
        background-image: url("../img/grid.png");
        height: 500px;
    }

        .grafo .canvas #conceptos {
            height: 100%;
            position: relative;
        }

            .grafo .canvas #conceptos .concepto {
                background-color: #A22F38;
                border: 3px solid white;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
                box-sizing: content-box;
                cursor: move;
                height: 50px;
                position: absolute;
                width: 50px;
            }

            .grafo .canvas #conceptos .concepto.positivo {
                background-color: #278f44;
            }

    .grafo .opciones {
        width: 100%;
    }

        .grafo .opciones .modo input[type="radio"] {
            display:none;
        }

        .grafo .opciones .modo input[type="radio"] + label {
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 20px;
            margin: 0;
            width: 150px;
        }

            .grafo .opciones .modo input[type="radio"]#mover + label {
                background-image: url("../img/icons/move.png");
            }

            .grafo .opciones .modo input[type="radio"]#unir + label {
                background-image: url("../img/icons/arrow.png");
            }

            .grafo .opciones .modo input[type="radio"]:checked + label {
                background-color: #A22F38;
                font-weight: bold;
            }

        .grafo .acciones a {
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 20px;
            margin-bottom: 0;
            padding-left: 40px;
        }

    .grafo .btnCanvas {
        clear: both;
        width: 100%;
    }

        .grafo .btnCanvas a {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            float: right;
            height: 50px;
            margin-bottom: 0;
        }

            .grafo .btnCanvas a.zoomIn {
                background-image: url("../img/icons/zoomIn.png");
            }

            .grafo .btnCanvas a.zoomOut {
                background-image: url("../img/icons/zoomOut.png");
            }

        .grafo .btnCanvas .zoom {
            background-color: #008CBA;
            color: white;
            display: inline-block;
            float: left;
            height: 50px;
            line-height: 50px;
            margin: 0;
            text-align: center;
            width: 100px;
        }

            .grafo .btnCanvas .zoom span {
                display: inline-block;
                line-height: normal;
                vertical-align: middle;
            }

._jsPlumb_connector {
    cursor: pointer;
}

/* SECCION | Lista de grafos y cursos */
.grafoItem, .cursoItem {
    background: #A22F38 url("../img/mazeRed.png");
    box-shadow: 0 8px 5px -7px #000;
    margin: 0 0 20px;
    text-align: center;
}

    .grafoItem .header, .cursoItem .header {
        background: #D4D4D4 url("../img/mazeGray.png");
        box-shadow: 0 8px 5px -7px #000;
        padding: 10px 0;
    }

        .grafoItem .header .nombre, .cursoItem .header .nombre {
            display: inline;
            font-weight: bold;
            margin: 0;
        }

        .grafoItem .header .grafoCheck {
            display: none;
        }

            .grafoItem .header .grafoCheck + label {
                margin: 0px;
                position: absolute;
                right: 35px;
            }

                .grafoItem .header .grafoCheck + label span {
                    background: url("../img/checkSheet.png") left top no-repeat;
                    cursor: pointer;
                    display: inline-block;
                    height: 19px;
                    width: 19px;
                    vertical-align: bottom;
                }

                .grafoItem .header .grafoCheck:checked + label span {
                    background: url("../img/checkSheet.png") -19px top no-repeat;
                }

    .grafoItem .conceptos, .cursoItem .estudiantes {
        color: #FFF;
        margin: 20px 0;
    }

        .grafoItem .conceptos span, .cursoItem .estudiantes span {
            font-weight: bold;
        }

    .grafoItem .button, .cursoItem .button {
        width: 100%;
    }

    .grafoItem .agregar, .cursoItem .agregar {
        margin-bottom: 20px;
        margin-top: 20px;
    }

/* SECCION | Detalle de un concepto */
.descripcionConcepto {
    height: 350px;
    margin-bottom: 1.25rem;
}

    .descripcionConcepto .lateral {
        background: #A22F38 url("../img/maze.png");
        box-shadow: 0 8px 5px -7px #000;
        height: 350px;
    }

        .descripcionConcepto .lateral .header {
            background: #A22F38 url("../img/mazeRed.png");
            height: 100px;
            padding-top: 70px;
        }

            .descripcionConcepto .lateral .header .concepto {
                background-color: #A22F38;
                border: 3px solid white;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
                box-sizing: content-box;
                height: 50px;
                margin: 0 auto;
                width: 50px;
            }

        .descripcionConcepto .lateral .acciones {
            margin-top: 60px;
        }

            .descripcionConcepto .lateral .acciones a {
                margin: 10px 0;
                width: 100%;
            }

    .descripcionConcepto .contenido {
        background: #A22F38 url("../img/mazeRed.png");
        box-shadow: 0 8px 5px -7px #000;
        color: #FFF;
        height: 350px;
        padding: 20px;
    }

        .descripcionConcepto .contenido p {
            display: block;
        }

        .descripcionConcepto .contenido h3 {
            color: #FFF;
        }

.recursosConcepto {
    background: #A22F38 url("../img/mazeRed.png");
    box-shadow: 0 8px 5px -7px #000;
}

    .recursosConcepto .header {
        background: #D4D4D4 url("../img/mazeGray.png");
        padding: 5px 20px;
    }

    .recursosConcepto .contenido {
        padding: 20px;
    }

        .recursosConcepto .contenido h4 {
            color: #FFF;
        }

        .recursosConcepto .contenido .recursoItem {
            background: #D4D4D4 url("../img/mazeGray.png");
            box-shadow: 0 8px 5px -7px #000;
            height: 225px;
            margin: 0 0 20px;
            padding: 10px;
            position: relative;
            text-align: center;
        }

            .recursosConcepto .contenido .recursoItem hr {
                border-color: #999;
            }

            .recursosConcepto .contenido .recursoItem .nombre {
                font-weight: bold;
            }

            .recursosConcepto .contenido .recursoItem .enlace {
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;
            }

                .recursosConcepto .contenido .recursoItem .enlace a {
                    width: 100%;
                }

                .recursosConcepto .contenido .recursoItem .enlace iframe {
                    margin: 10px;
                }

/* SECCION | Unir grafos */
.unionGrafos {
    position: relative;
}

    .unionGrafos .contenedorGrafo {
        background: #A22F38 url("../img/mazeRed.png");
        box-shadow: 0 8px 5px -7px #000;
        position: relative;
    }

        .unionGrafos .contenedorGrafo .nombre {
            background: #D4D4D4 url("../img/mazeGray.png");
            padding: 5px 20px;
        }

        .unionGrafos .contenedorGrafo .contenido {
            padding: 20px;
        }

            .unionGrafos .contenedorGrafo .contenido .concepto {
                background: #D4D4D4 url("../img/mazeGray.png");
                box-shadow: 0 8px 5px -7px #000;
                display: block;
                margin: 5px 0;
                padding: 5px;
            }

                .unionGrafos .contenedorGrafo.izq .contenido .concepto {
                    text-align: left;
                }

                .unionGrafos .contenedorGrafo.der .contenido .concepto {
                    text-align: right;
                }

                .unionGrafos .contenedorGrafo .contenido .concepto .conector {
                    margin-top: 7px;
                    position: absolute;
                }

                    .unionGrafos .contenedorGrafo.izq .contenido .concepto .conector {
                        right: 40px;
                    }

                    .unionGrafos .contenedorGrafo.der .contenido .concepto .conector {
                        left: 40px;
                    }

    .unionGrafos .acciones {
        background: #A22F38 url("../img/mazeRed.png");
        box-shadow: 0 8px 5px -7px #000;
        margin-top: 1.25rem;
        padding: 10px;
    }

        .unionGrafos .acciones input[type="text"] {
            margin: 4px 0;
        }

        .unionGrafos .acciones .unir, .unionGrafos .acciones .guardar {
            width: 100%;
        }

#unirGrafos {
    margin-bottom: 20px;
}

/* SECCION | Lista de cursos */
ul.cursos {
    list-style: none;
}

    ul.cursos li {
        background: #A22F38 url("../img/mazeRed.png");
        box-shadow: 0 8px 5px -7px #000;
        display: inline-block;
        width: 250px;
    }

        ul.cursos li h3 {
            color: #FFF;
            display: block;
            padding: 5px;
            text-align: center;
        }

        ul.cursos li a {
            width: 100%;
        }

/* SECCION | Unirse al curso y dialogo de nuevo concepto */
.unirseAlCurso {
    background: #D4D4D4 url("../img/mazeGray.png");
    box-shadow: 0 8px 5px -7px #000;
    padding: 10px 50px;
}

    .unirseAlCurso label, #conceptoDialog label {
        color: #000;
        display: inline-block;
        font-size: 1rem;
        line-height: 1.6;
    }

    .unirseAlCurso input[type="submit"], #conceptoDialog input[type="submit"] {
        width: 100%;
    }

    .unirseAlCurso ul.errorlist {
        background: #A22F38 url("../img/mazeRed.png");
        color: #FFF;
        float: right;
        list-style: none;
        margin: 0px 1px 0 0;
        padding: 0px 10px;
    }

    #conceptoDialog p.error {
        background: #A22F38 url("../img/mazeRed.png");
        color: #FFF;
        display: block;
        margin: 0px;
        padding: 3px 10px;
    }