{% extends "Aprendeci/profesor/cursos.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ curso_nombre }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endblock %}

{% block preheader %}
    {% include "Aprendeci/profesor/topbar.html" with active_tab="cursos" %}
{% endblock %}

{% block header %}
    <div class="encabezado">
        <img class="icon" alt="cursos" src="{% static "img/icons/cursos.png" %}" />
        <h1>{{ curso_nombre }}</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Curso" 'Aprendeci:estudiantes' curso.id %}
{% endblock %}

{% block content %}
    <div class="subtitle">
        <h3>Estudiantes</h3>
    </div>
    <table>
        <tbody>
        {% for estudiante in estudiante_list %}
            <tr>
                <td class="principal">
                    <h4>{{ estudiante.usuario.first_name }} {{ estudiante.usuario.last_name }}</h4>
                </td>
                <td class="acciones">
                    <a href="{% url 'Aprendeci:estudiante' cursoId=curso_id estudianteId=estudiante.id %}" class="button small ver">Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
