{% extends "Aprendeci/profesor/estudiantes.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ curso.nombre }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static "js/actualizarCalificaciones.js" %}"></script>
{% endblock %}

{% block preheader %}
    {% include "Aprendeci/profesor/topbar.html" with active_tab="cursos" %}
{% endblock %}

{% block header %}
    <div class="encabezado">
        <img class="icon" alt="cursos" src="{% static "img/icons/cursos.png" %}" />
        <h1>{{ curso.nombre }}</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Estudiante" "" %}
{% endblock %}

{% block content %}
    <div class="title">
        <h3>{{ estudiante.usuario.first_name }} {{ estudiante.usuario.last_name }}</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    <h4>Concepto</h4>
                </th>
                <th>
                    <h4>Calificación</h4>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for calificacion in calificaciones_set %}
            <tr>
                <td class="principal">
                    <img alt="{{ calificacion.concepto.nombre }}" src="{{ MEDIA_URL }}{{ calificacion.concepto.imagen }}" />
                    <h4>{{ calificacion.concepto.nombre }}</h4>
                </td>
                <td class="acciones">
                    <input id="calificacion{{ calificacion.id }}" name="calificacion{{ calificacion.id }}" type="number" value="{{ calificacion.calificacion }}" min="0" max="100" />
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="" colspan="2">
                    <a class="small success button guardar">Actualizar</a>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
